# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# PyTorch / Machine Learning models & checkpoints
checkpoints/
*.ckpt

# PTV Vissim Simulation outputs & temporary files
*.bak
*.tra
*.str
*.mer
*.ldf
*.kpi
*.knr
*.tsc
*.fzp
*.att

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
